.tableBody {
  max-height: 500px; /* Ограничиваем высоту таблицы */
  overflow-y: auto; /* Добавляем вертикальный скроллинг */
  overflow-x: hidden; /* Обрезаем всё, что выходит за пределы по горизонтали */
}
