.active {
    background-color: inherit;
}

.disabled {
    background-color: #f8d7da;
}

.active, .disabled {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

